.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.question {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 16px;
    margin: 10px auto;
    min-width: 400px;
    max-width: 900px;
    text-align: center;
    border: 1px solid #615954;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}


  .choice-button {
    column-count: 2;
    background-color:lightseagreen;
    height: 50px;
    width: 250px;
    padding: 8px;
    margin: 24px;
    font-weight: bolder;
    font-size: medium;
    border: 1px solid black;

}